[Desktop Entry]
Name=Antigravity 2.0
Comment=Antigravity 2.0 Desktop Studio & AI Projects
Exec=agybots
Icon=agybots
Terminal=false
Type=Application
Categories=Development;Utility;Chat;
Keywords=AI;Antigravity;Assistant;Studio;GUI;2.0;

